bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.7
filelock==3.0.12
Flask==1.1.2
idna==2.10
importlib-metadata==4.0.1
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
mysql-connector-python==8.0.24
nltk==3.6.2
numpy==1.20.2
packaging==20.9
paramiko==2.7.2
protobuf==3.15.8
pycparser==2.20
PyNaCl==1.4.0
pyparsing==2.4.7
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.6.3
six==1.16.0
sshtunnel==0.4.0
threadpoolctl==2.1.0
tokenizers==0.10.2
tqdm==4.60.0
transformers==4.5.1
typing-extensions==3.10.0.0
urllib3==1.26.4
Werkzeug==1.0.1
zipp==3.4.1
