    body {
        background-color: lightblue;
        position: relative;
        margin: 0;
        padding-bottom: 6rem;
        min-height: 100%;
    }
        h1 {
        text-align: center;
        font-size: 100px;
        font-weight: bold;

    }
    p{
        font-size: 14px;
    }
    input[type=text]{
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
    }
    input[type=button] {
        width:125px;
        height:35px;
    }
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .container {
        width:100%;
        position: relative;
    }
    .column {
        width:33.33333333%;
        float:left;
    }
    .space
    {
        margin-top: 20px;
    }
    .center
    {
        margin: 0 auto;
    }
    .error {
        padding: 0.5em;
    }
	#footer {
	  position: relative;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  padding: 1rem;
	  background-color: #efefef;
	  text-align: center;
	}
    #spaceafterhead
    {
        margin-top: 70px;
    }

